{% extends "base.html" %}
{% block main %}
<div
    class="h-full w-full bg-[radial-gradient(circle_at_center,theme(colors.green-ext-radial)_0%,theme(colors.green-center-radial)_20%,theme(colors.black)_50%)] flex items-center justify-center drop-shadow-button">
    <div class="bg-gray-div p-8 rounded-[40px] shadow-lg w-full max-w-md border-green-button border ">
        <h2 class="text-2xl font-bold mb-4 text-center text-white">Prévoir une maintenance</h2>
        <form method="POST" action="{{ url_for('maintenance') }}">
            {{ form.hidden_tag() }}
            <div class="mb-4">
                <label for="date" class="block text-green-text font-medium mb-2">Plateforme *</label>
                {{ form.idPlateforme(class_="w-full text-white rounded-lg border border-transparent bg-gray-textfield px-4
                py-3 text-gray-900 focus:border-green-button-menu focus:outline-none focus:ring-2
                focus:ring-green-button-menu") }}
            </div>
            <div class="mb-6">
                <label for="plan_maintenance" class="block text-green-text font-medium mb-2">Date*</label>

                {{ form.dateDebut(class_="w-full text-white rounded-lg border border-transparent bg-gray-textfield px-4 py-3
                text-gray-900 focus:border-green-button-menu focus:outline-none focus:ring-2 focus:ring-green-button-menu")
                }}
            </div>
            <div class="mb-6">
                <label for="plan_maintenance" class="block text-green-text font-medium mb-2">Durée *</label>
                {{ form.duree(class_="w-full text-white rounded-lg border border-transparent bg-gray-textfield px-4
                py-3 text-gray-900 focus:border-green-button-menu focus:outline-none focus:ring-2
                focus:ring-green-button-menu") }}
            </div>
            <div class="flex justify-center">
                <button type="submit"
                    class="w-full bg-green-button-menu text-white font-medium py-2 px-4 rounded-md hover:bg-green-button-menu-hover transition-colors duration-300">
                    + Ajouter
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}